/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   MARICELA ACOSTA CONTRERAS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat);


:root{
	font-size: 16px;
	--pfonts: Montserrat;
	--hfonts: Molle;
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--darkgray: #222222;
	--lightgray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
}
/* ----- SKIP LINK STYLES ----- */
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }
   
  #skip:focus{
	position: static;
	width: auto;
	height: auto;
  }

/* ----- BODY STYLES ----- */

body{
	font-family: var(--pfonts);
	color: var(--black);
}


/* ----- HEADER STYLES ----- */
header {
	background-color: var(--teal);
  }


/* ----- HEADING STYLES ----- */
h1{
	font-family: Molle;
	font-weight: 400 italic;
	font-size: 2rem;
	text-align: left;
  }

h2{
	font-family: var(--hfonts);
	font-weight: 400;
	font-size: 1.5rem;
	margin: 1rem 0;
  }
h3{
  font-family: var(--hfonts);
	font-size: 1.15rem;
	margin: 0.5rem 0;
  }
  
h4{

  }

/* ----- HIDDEN CONTENT STYLES ----- */

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
  }

/* ----- NAVIGATION STYLES ----- */
#menu-toggle{
  display: inline-block;
  background-color: var(--yellow);
  text-align: center;
  text-decoration: none;
}

nav a{
	text-align: center;
	background-color: var(--teal);
	color: var(--black);
	font-weight: Medium 500;
  }

/* ----- IMAGE STYLES ----- */
img{
  width: 100%;
}

/* ----- LINK STYLES ----- */

/* ----- TEXT STYLES ----- */
q{
	font-style: italic;
  }
  
p{

  }

/* ----- MAIN STYLES ----- */

/* ----- Majorca STYLES ----- */
#intro img{
	width: 100%;
  }
/* ----- ABOUT your trip STYLES ----- */
#plan{
  
  background-color: var(--yellow);
}
/* ----- testimony SECTION STYLES ----- */
#testimonials{

}

/* ----- ABOUT destination STYLES ----- */
#about {
  background-color: var(--blue);
}

/* ----- Form STYLES ----- */
#contact span{
  font-family: var(--pfonts);
}
/* ----- FOOTER STYLES ----- */
footer{
	background-color: var(--lightgray);
	color: var(--darkgray);
	padding: 2rem 1rem 1rem 1rem;
	line-height: 2;
  }
  footer p, footer a{
	font-family: Monserrat, sans-serif;
	font-weight: 300;
	text-align: center;
  }

/*small screen*/
@media screen and (min-width: 320px){}


/*medium screen*/
@media screen and (min-width: 750px){}
 



/*large screen*/
@media screen and (min-width: 980px){}